body {
    background: linear-gradient(
      135deg,
      rgba(255,0,0,1) 0%,
      rgba(255,0,255,1) 15%,
      rgba(0,0,255,1) 30%,
      rgba(0,255,255,1) 50%,
      rgba(0,255,0,1) 65%,
      rgba(255,255,0,1) 85%,
      rgba(255,0,0,1) 100%
    );
    margin: 0;
    padding: 0;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .header-wrapper {
    height: 50%;
  }
  header { 
    width: 50vw;
    max-width: 400px;
    position: relative;
    margin: 0 auto;
  }
  header video { 
    position: absolute;
    width: 100%; 
    max-height: 100vw;
    -webkit-clip-path:url(#clipPath);
    clip-path:url(#clipPath);
  }

svg {
    width: 100%;
    position:absolute;
    top: 0;
    left: 0; // needed for FF, Safari, Edge
  }