@import './modules/variables';

.page-template-page-moments {
	.entry-content {
	}
	.bne-gallery-masonry-wrapper .gallery-single img {
		height: auto !important;
	}
}

.page-id-82 {
	article {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		height: 100vh;
	}
	.entry-content {
		text-align: center;
		img {
			width: 50%;
			max-width: 20rem;
			height: auto !important;
			filter: grayscale( 100% );
		}
		img:hover {
			filter: none;
		}
	}
}