@import './modules/variables';

.page-template-page-rsvp {

    .frm_message {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
        text-align: center;
    }

    .hide_before_submit {
        display: none;
    }

    .entry-content {
        margin: 0;
    }

    .frm_pro_form {
        position: fixed;
        height: 100vh;
        width: 100vw;
        padding: 1em;
        @media screen and ( min-width: 800px ) {
            padding: 4em;
        }
        background: url('../img/AWW_Dancing_peoples_05.gif') no-repeat;
        background-size: contain;
        background-position: center center;
        h3 {
            display: none;
        }
        .frm_page_num_1 {
            .frm_submit {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 14vw;
                height: 11vw;
                transform: translateX(-50%) translateY(-15%);
                button {
                    margin: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 0;
                    line-height: 0;
                    box-shadow: none;
                    background: rgba(255,255,255,0) url('../img/rsvp_button.svg') no-repeat;
                    background-size: 100% auto;
                    background-position: center center;
                    padding: 0;
                    color: transparent;
                }
            }
        }

        .frm_form_fields:not(.frm_page_num_1) {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 5%;
            margin: 0 auto;
            background: #fff;
            overflow-y: scroll;
            border: 0.15em solid $awwgold;
            @media screen and ( min-width: 800px ) {
                width: 50vw;
                min-width: 800px;
            }
            fieldset {
                padding: 0 0 2em 0;
                margin: auto;
                border-radius: 2.0
            }

            .frm_fields_container {
            }
            .form-field,
            .frm_submit {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .frm_submit {
                flex-direction: row;
                justify-content: center;
            }
        }

        input[type=text],
        input[type=password],
        input[type=email],
        input[type=number],
        input[type=url],
        input[type=tel],
        input[type=phone],
        input[type=search],
        select,
        textarea,
        .frm_form_fields_style,
        .frm_scroll_box .frm_opt_container,
        .frm_form_fields_active_style,
        .frm_form_fields_error_style,
        .chosen-container-multi .chosen-choices,
        .chosen-container-single .chosen-single {
            min-width: 15em;
            box-shadow: none;
            border-color: $awwblue;
            border-radius: 0;
            &:focus {
                border-color: $awwblue;
                box-shadow: none;
            }
        }
        .frm_error_style {
            background-color: $awwred;
            color: white;
            border-radius: none;
        }
    }

    .frm_grid_container,
    .frm_other_container {
        text-align: center;
    }

    #field_qh4icy2_suggestions {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            font-size: 14px;
            padding: 6px 10px;
            border: 1px solid $awwblue;
            width: 100%;
        }
    }

    #field_qh4icy2_suggestions {
        list-style: none;
    }

    #field_qh4icy2_suggestions li.selected,
    #field_qh4icy2_suggestions li:hover {
        background-color: $awwblue;
        color: white;
        cursor: pointer;
    }

    .frm_other_input {

    }

    video {
        max-width: 100%;
    }

}