body{background:linear-gradient(135deg,red,#f0f 15%,blue 30%,cyan 50%,lime 65%,#ff0 85%,red);margin:0;padding:0}.container{height:100vh;display:flex;flex-direction:column;justify-content:center;align-content:center}.header-wrapper{height:50%}header{width:50vw;max-width:400px;position:relative;margin:0 auto}header video{max-height:100vw;-webkit-clip-path:url(#clipPath);clip-path:url(#clipPath)}header video,svg{position:absolute;width:100%}svg{top:0;left:0}
/*# sourceMappingURL=awww.css.map */
