.page-template-page-moments .bne-gallery-masonry-wrapper .gallery-single img{height:auto!important}.page-id-82 article{display:flex;flex-direction:column;align-content:center;justify-content:center;height:100vh}.page-id-82 .entry-content{text-align:center}.page-id-82 .entry-content img{width:50%;max-width:20rem;height:auto!important;-webkit-filter:grayscale(100%);filter:grayscale(100%)}.page-id-82 .entry-content img:hover{-webkit-filter:none;filter:none}
/*# sourceMappingURL=moments.css.map */
