body {
  background: linear-gradient(135deg, red 0%, magenta 15%, blue 30%, cyan 50%, lime 65%, yellow 85%, red 100%);
  margin: 0;
  padding: 0; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.header-wrapper {
  height: 50%; }

header {
  width: 50vw;
  max-width: 400px;
  position: relative;
  margin: 0 auto; }

header video {
  position: absolute;
  width: 100%;
  max-height: 100vw;
  -webkit-clip-path: url(#clipPath);
  clip-path: url(#clipPath); }

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
