.page-template-page-rsvp .frm_message {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  text-align: center; }

.page-template-page-rsvp .hide_before_submit {
  display: none; }

.page-template-page-rsvp .entry-content {
  margin: 0; }

.page-template-page-rsvp .frm_pro_form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  background: url("../img/AWW_Dancing_peoples_05.gif") no-repeat;
  background-size: contain;
  background-position: center center; }
  @media screen and (min-width: 800px) {
    .page-template-page-rsvp .frm_pro_form {
      padding: 4em; } }
  .page-template-page-rsvp .frm_pro_form h3 {
    display: none; }
  .page-template-page-rsvp .frm_pro_form .frm_page_num_1 .frm_submit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14vw;
    height: 11vw;
    transform: translateX(-50%) translateY(-15%); }
    .page-template-page-rsvp .frm_pro_form .frm_page_num_1 .frm_submit button {
      margin: 0;
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      line-height: 0;
      box-shadow: none;
      background: rgba(255, 255, 255, 0) url("../img/rsvp_button.svg") no-repeat;
      background-size: 100% auto;
      background-position: center center;
      padding: 0;
      color: transparent; }
  .page-template-page-rsvp .frm_pro_form .frm_form_fields:not(.frm_page_num_1) {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
    background: #fff;
    overflow-y: scroll;
    border: 0.15em solid #db9b13; }
    @media screen and (min-width: 800px) {
      .page-template-page-rsvp .frm_pro_form .frm_form_fields:not(.frm_page_num_1) {
        width: 50vw;
        min-width: 800px; } }
    .page-template-page-rsvp .frm_pro_form .frm_form_fields:not(.frm_page_num_1) fieldset {
      padding: 0 0 2em 0;
      margin: auto;
      border-radius: 2.0; }
    .page-template-page-rsvp .frm_pro_form .frm_form_fields:not(.frm_page_num_1) .form-field,
    .page-template-page-rsvp .frm_pro_form .frm_form_fields:not(.frm_page_num_1) .frm_submit {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .page-template-page-rsvp .frm_pro_form .frm_form_fields:not(.frm_page_num_1) .frm_submit {
      flex-direction: row;
      justify-content: center; }
  .page-template-page-rsvp .frm_pro_form input[type=text],
  .page-template-page-rsvp .frm_pro_form input[type=password],
  .page-template-page-rsvp .frm_pro_form input[type=email],
  .page-template-page-rsvp .frm_pro_form input[type=number],
  .page-template-page-rsvp .frm_pro_form input[type=url],
  .page-template-page-rsvp .frm_pro_form input[type=tel],
  .page-template-page-rsvp .frm_pro_form input[type=phone],
  .page-template-page-rsvp .frm_pro_form input[type=search],
  .page-template-page-rsvp .frm_pro_form select,
  .page-template-page-rsvp .frm_pro_form textarea,
  .page-template-page-rsvp .frm_pro_form .frm_form_fields_style,
  .page-template-page-rsvp .frm_pro_form .frm_scroll_box .frm_opt_container,
  .page-template-page-rsvp .frm_pro_form .frm_form_fields_active_style,
  .page-template-page-rsvp .frm_pro_form .frm_form_fields_error_style,
  .page-template-page-rsvp .frm_pro_form .chosen-container-multi .chosen-choices,
  .page-template-page-rsvp .frm_pro_form .chosen-container-single .chosen-single {
    min-width: 15em;
    box-shadow: none;
    border-color: #0e76bc;
    border-radius: 0; }
    .page-template-page-rsvp .frm_pro_form input[type=text]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=password]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=email]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=number]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=url]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=tel]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=phone]:focus,
    .page-template-page-rsvp .frm_pro_form input[type=search]:focus,
    .page-template-page-rsvp .frm_pro_form select:focus,
    .page-template-page-rsvp .frm_pro_form textarea:focus,
    .page-template-page-rsvp .frm_pro_form .frm_form_fields_style:focus,
    .page-template-page-rsvp .frm_pro_form .frm_scroll_box .frm_opt_container:focus,
    .page-template-page-rsvp .frm_pro_form .frm_form_fields_active_style:focus,
    .page-template-page-rsvp .frm_pro_form .frm_form_fields_error_style:focus,
    .page-template-page-rsvp .frm_pro_form .chosen-container-multi .chosen-choices:focus,
    .page-template-page-rsvp .frm_pro_form .chosen-container-single .chosen-single:focus {
      border-color: #0e76bc;
      box-shadow: none; }
  .page-template-page-rsvp .frm_pro_form .frm_error_style {
    background-color: #ed1c24;
    color: white;
    border-radius: none; }

.page-template-page-rsvp .frm_grid_container,
.page-template-page-rsvp .frm_other_container {
  text-align: center; }

.page-template-page-rsvp #field_qh4icy2_suggestions {
  padding: 0;
  margin: 0;
  width: 100%; }
  .page-template-page-rsvp #field_qh4icy2_suggestions li {
    font-size: 14px;
    padding: 6px 10px;
    border: 1px solid #0e76bc;
    width: 100%; }

.page-template-page-rsvp #field_qh4icy2_suggestions {
  list-style: none; }

.page-template-page-rsvp #field_qh4icy2_suggestions li.selected,
.page-template-page-rsvp #field_qh4icy2_suggestions li:hover {
  background-color: #0e76bc;
  color: white;
  cursor: pointer; }

.page-template-page-rsvp video {
  max-width: 100%; }
